@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: #F9FAFB;
    font-family: "Helvetica", "Arial", sans-serif;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }

  @keyframes dash {
    from {
      stroke-dashoffset: 100;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  
  .animate-dash {
    animation: dash 1s ease-out forwards;
  }
  
}
